<ion-header>
  <ion-navbar color="uceff">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col class="titulo">Cadastros</ion-col>
          <ion-col>
            <img class="title-image" src="src=../../assets/imgs/logo.png" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>

  <ion-card>
    <ion-card-content>
      Arraste o aluno para a esquerda para mostrar as opções!
      <br>
      <br> Clique no aluno para ver sua presença atual!
    </ion-card-content>
  </ion-card>




  <ion-list>
    <ion-item>
      <ion-label>Escolha a turma de alunos</ion-label>
      <ion-select [(ngModel)]="turmaSelecionada" (ionChange)="mudarTurma()">
        <ion-option value="{{item.turma.nomeTurma}}" *ngFor="let item of listaTurmas">{{item.turma.nomeTurma}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>


  <ion-list>
    <ion-item-sliding *ngFor="let item of contacts">
      <ion-item (click)="mostrarPresenca(item)">
        <h2>{{item.contact.name}} </h2>
        <p>{{item.contact.curso}}</p>
        <p>{{item.contact.phone}}</p>

      </ion-item>


      <ion-item-options>

        <button ion-button color="laranja" icon-start (click)="editPresenca(item)">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          Presença
        </button>

        <button ion-button color="amarelo" icon-start (click)="editContact(item)">
          <ion-icon name="person"></ion-icon>
          Editar
        </button>

        <button ion-button color="uceff" icon-start (click)="doConfirm(item)">
          <ion-icon name="trash"></ion-icon>
          Deletar
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>


  <ion-fab right bottom (click)="adicionarAluno()">
    <button ion-fab color="laranja">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>