<ion-header>
  <ion-toolbar color="uceff" hideBackButton="false">
    <button ion-button show  menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col class="titulo">Cadastros</ion-col>
          <ion-col>
            <img align="right" class="title-image" src="src=../../assets/imgs/logo.png" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding>

  <ion-card *ngIf="ativo==true">
    <ion-card-content align="center">
      <h2><strong>Dica</strong></h2>
      Arraste o aluno para a direita para mostrar as opções!
      <br>Arraste o aluno para a esquerda para detalhá-lo!
      <br> Clique no aluno para ver sua presença atual!
    </ion-card-content>
  </ion-card>




  <ion-list>
    <ion-item>
      <ion-label>Escolha a turma de alunos</ion-label>
      <ion-select [(ngModel)]="turmaSelecionada" (ionChange)="mudarTurma()">
        <ion-option value="{{item.turma.nomeTurma}}" *ngFor="let item of listaTurmas">{{item.turma.nomeTurma}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-searchbar placeholder="Pesquisar" showCancelButton color="danger" (ionInput)="filterItems($event)"></ion-searchbar>
<br>
  <ion-list>
    <ion-item-sliding *ngFor="let item of contatos">
      <ion-item (click)="mostrarPresenca(item)">
        <ion-grid>
          <ion-row>
            <ion-col  col-2 *ngIf="item.contact.presenca.match('Só Ida')"><ion-icon class="ida" small name="return-right"></ion-icon></ion-col>
            <ion-col col-2 *ngIf="item.contact.presenca.match('Só Volta')"><ion-icon class="volta" small name="return-left"></ion-icon></ion-col>
            <ion-col col-2 *ngIf="item.contact.presenca.match('Ida e Volta')"><ion-icon  class="idaVolta" name="swap"></ion-icon></ion-col>
            <ion-col col-2 *ngIf="item.contact.presenca.match('Não Irá')"><ion-icon class="nao" name="close-circle"></ion-icon></ion-col>
            <ion-col col-10>
              <h2>{{item.contact.name}} </h2>
              <p  style="overflow: hidden;">{{item.contact.curso}}</p>
            </ion-col>
            <ion-col col-1>
              <!-- <ion-icon name="ios-arrow-forward"></ion-icon> -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>


      <ion-item-options side="left">

        <button ion-button color="laranja" icon-start (click)="editPresenca(item)">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          Presença
        </button>

        <button ion-button outline color="laranja" icon-start (click)="editContact(item)">
          <ion-icon name="person"></ion-icon>
          Editar
        </button>

        <button ion-button color="uceff" icon-start (click)="doConfirm(item)">
          <ion-icon name="trash"></ion-icon>
          Deletar
        </button>

        
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="laranja" icon-start (click)="detalhes(item.contact)">
          <ion-icon name="eye"></ion-icon>
          Detalhes
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
<br><br><br>

  <ion-fab right bottom (click)="adicionarAluno()">
    <button ion-fab color="laranja">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>