page-cadastros {
    .title-image {
        vertical-align: middle;
        height: 25px;
        margin-left: 30%
      }
      .title{
        color: white
    }
    .titulo{
        margin-top: 2px;
    }
}
