page-cadastros {
    .title-image {
        vertical-align: middle;
        height: 20px;
        margin-top: 5px;
      }
      .title{
        color: white
    }
    .titulo{
        margin-top: 2px;
    }
    ion-fab{
        margin-bottom: 10%;
        margin-right: 3%;
        position: absolute;
    }
}
