page-cadastros {
    .title-image {
        vertical-align: middle;
        height: 20px;
        margin-top: 5px;
      }
      .title{
        color: white
    }
    .titulo{
        margin-top: 2px;
    }
    ion-fab{
        margin-bottom: 10%;
        margin-right: 3%;
        position: absolute;
    }
    .ida{
        margin-top: 7px;
        color: #488aff
    }
    .volta{
        margin-top: 7px;
        color: #488aff
    }
    .idaVolta{
        margin-top: 4px;
        color: #32db64
    }
    .nao{
        margin-top: 4px;
        color:red
    }
    .curso{
        max-width: 15ch;
    }
}
