<ion-header>
  <ion-navbar color="uceff">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
        <ion-grid>
          <ion-row>
            <ion-col class="titulo">Cadastrar</ion-col>
            <ion-col>
              <img align="right" class="title-image" src="src=../../assets/imgs/logo.png" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input required type="text" name="name" [(ngModel)]="model.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Curso</ion-label>
      <ion-select type="text" name="curso" [(ngModel)]="model.curso">
        <ion-option *ngFor="let item of curso">
          {{item}}
        </ion-option>
      </ion-select>
    </ion-item>

    
    <ion-item>
        <ion-label stacked>Turma</ion-label> 
        <ion-select required type="text" name="turma" [(ngModel)]="model.turma">
          <ion-option *ngFor="let item of turmas">
            {{item.turma.nomeTurma}}
          </ion-option>
        </ion-select>
      </ion-item>

    <ion-item>
      <ion-label stacked>Telefone</ion-label>
      <ion-input type="tel" name="phone" [(ngModel)]="model.phone"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label stacked>E-mail</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="model.email"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label stacked>Presença Padrão</ion-label>
      <ion-select  required type="text" name="presenca" [(ngModel)]="model.presencaPadrao">
        <ion-option *ngFor="let item of presencas">
          {{item}}
        </ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <button color="laranja" ion-button block (click)="escolherDias(model)">Salvar</button>




</ion-content>