page-edit-contact {
  .title-image {
    vertical-align: middle;
    height: 20px;
    margin-top: 5px;
  }
      .title{
        color: white
      }
      .titulo{
        margin-top: 2px;
    }
    .error-message{
      color: red;
    }
}

$alert-input-placeholder-color:(
  #FE8022
);

