<ion-header>
  <ion-navbar color="uceff">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col class="titulo">Cadastrar</ion-col>
          <ion-col>
            <img align="right" class="title-image" src="src=../../assets/imgs/logo.png" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="formularioAluno" (ngSubmit)="salvar()" #formulario="ngForm">

    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input type="text" name="name" formControlName="name" clearInput></ion-input>
    </ion-item>

    <div>
      <ng-container *ngFor="let validation of validation_messages.name">
        <div class="error-message" *ngIf="formularioAluno.get('name').hasError(validation.type) && (formularioAluno.get('name').dirty || formularioAluno.get('name').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label floating>Curso</ion-label>
      <ion-select type="text" name="curso" formControlName="curso">
        <ion-option *ngFor="let item of curso">
          {{item}}
        </ion-option>
      </ion-select>
    </ion-item>

    <div>
      <ng-container *ngFor="let validation of validation_messages.curso">
        <div class="error-message" *ngIf="formularioAluno.get('curso').hasError(validation.type) && (formularioAluno.get('curso').dirty || formularioAluno.get('curso').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label floating>Turma</ion-label>
      <ion-select required type="text" name="turma" formControlName="turma">
        <ion-option *ngFor="let item of turmas">
          {{item.turma.nomeTurma}}
        </ion-option>
      </ion-select>
    </ion-item>

    <div>
      <ng-container *ngFor="let validation of validation_messages.turma">
        <div class="error-message" *ngIf="formularioAluno.get('turma').hasError(validation.type) && (formularioAluno.get('turma').dirty || formularioAluno.get('turma').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label floating>Telefone</ion-label>
      <ion-input type="tel" name="phone" formControlName="phone" clearInput></ion-input>
    </ion-item>

    <div>
      <ng-container *ngFor="let validation of validation_messages.phone">
        <div class="error-message" *ngIf="formularioAluno.get('phone').hasError(validation.type) && (formularioAluno.get('phone').dirty || formularioAluno.get('phone').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>


    <ion-item>
      <ion-label floating>E-mail</ion-label>
      <ion-input type="text" name="name" formControlName="email" clearInput></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>Presença Padrão</ion-label>
      <ion-select required type="text" name="presenca" formControlName="presencaPadrao">
        <ion-option *ngFor="let item of presencas">
          {{item}}
        </ion-option>
      </ion-select>
    </ion-item>

    
    <div>
      <ng-container *ngFor="let validation of validation_messages.phone">
        <div class="error-message" *ngIf="formularioAluno.get('presencaPadrao').hasError(validation.type) && (formularioAluno.get('presencaPadrao').dirty || formularioAluno.get('presencaPadrao').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

  </form>

  <button color="laranja" ion-button block (click)="parametros()">Salvar</button>




</ion-content>