<ion-header>
  <ion-navbar color="uceff" >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <h3 class="title">
        <span>Entradas</span>
        <img class="title-image" src="src=../../assets/imgs/logo.png" />

      </h3>
  </ion-navbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-content>
          Lista de alunos que têm presença para hoje - {{dia}}
          <br>
          <br>
          Clique no aluno para ver sua presença atual!
        </ion-card-content>
      </ion-card>

  <ion-list>

    <ion-item *ngFor="let item of contacts" ng-model="model" (click)="mostrarPresenca(item)">
        <ion-label>{{item.contact.name}} {{item.contact.sobrenome}}</ion-label>

        <ion-toggle class="botao" *ngIf="item.contact.embarque == true"  value="item.contact.embarque" checked="true" (ionChange)="save(item, item.contact)"></ion-toggle>
        <ion-toggle class="botao" *ngIf="item.contact.embarque != true" value="item.contact.embarque" checked="false" (ionChange)="save(item, item.contact)"></ion-toggle>
    </ion-item>

  </ion-list> 
</ion-content> 