page-list {
    .title-image {
        vertical-align: middle;
        height: 20px;
        margin-top: 5px;
      }
      .title{
          color: white
      }
      .titulo{
        margin-top: 2px;
    }
    .icone{
        margin-top: 10px ;
    }
    .ida{
        margin-top: 15px;
        color: #488aff
    }
    .volta{
        margin-top: 15px;
        color: #488aff
    }
    .idaVolta{
        margin-top: 10px;
        color: #32db64
    }

    .botao.toggle-checked .toggle-inner{
         background-color: #FE8022
    }
}
