<ion-header>
  <ion-toolbar color="uceff" #content>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col class="titulo">Entradas</ion-col>
          <ion-col>
            <img align="right" class="title-image" src="src=../../assets/imgs/logo.png" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="ativo==true && mostrarMsgAlunos == false">
    <ion-card-content align="center">
      <h2>
        <strong>Dicas</strong>
      </h2>
      Lista de alunos que têm presença para hoje, {{dia}}
      <br>
      <br> Clique no aluno para ver sua presença atual!
      <br>
      <br> Para excluir todas as entradas, volte para a Home do aplicativo e clique em "Restaurar Entradas".
    </ion-card-content>
  </ion-card>


  <ion-list>
    <ion-item>
      <ion-label>Escolha o grupo de alunos</ion-label>
      <ion-select interface="popover" [(ngModel)]="turmaSelecionada" (ionChange)="mudarTurma()">
        <ion-option value="{{item.turma.nomeTurma}}" *ngFor="let item of listaTurmas">{{item.turma.nomeTurma}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-searchbar *ngIf="mostrarMsgAlunos == false" placeholder="Pesquisar Aluno" showCancelButton color="danger" (ionInput)="filterItems($event)"></ion-searchbar>

  <ion-list  *ngIf="mostrarMsgAlunos == false">
    <ion-item-group>
      <ion-item-divider color="uceff">Pendentes</ion-item-divider>
      <ion-grid *ngIf="mostrarMsgPendentes == false">
        <ion-row *ngFor="let item of contatosIndefinidos">
          <ion-col col-1 *ngIf="item.contact.presenca.match('Só Ida')">
            <ion-icon class="ida" small name="return-right"></ion-icon>
          </ion-col>
          <ion-col col-1 *ngIf="item.contact.presenca.match('Só Volta')">
            <ion-icon class="volta" small name="return-left"></ion-icon>
          </ion-col>
          <ion-col col-1 *ngIf="item.contact.presenca.match('Ida e Volta')">
            <ion-icon class="idaVolta" name="swap"></ion-icon>
          </ion-col>

          <ion-col col-11>
            <ion-item ng-model="model" (click)="mostrarPresenca(item)">
              <ion-label>{{item.contact.name}}</ion-label>
              <ion-toggle color="laranja" class="botao" *ngIf="item.contact.embarque == true" value="item.contact.embarque" checked="true"
                (ionChange)="save(item, item.contact)"></ion-toggle>
              <ion-toggle class="botao" *ngIf="item.contact.embarque != true" value="item.contact.embarque" checked="false" (ionChange)="save(item, item.contact)"></ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>
        <br>
      </ion-grid>
    </ion-item-group>
    <ion-card *ngIf="mostrarMsgPendentes == true">
      <ion-card-content align="center">
        <h2>Nenhum aluno pendente!</h2>
      </ion-card-content>
    </ion-card>
  </ion-list>

 

  <ion-list  *ngIf="mostrarMsgAlunos == false">
    <ion-item-group>
      <ion-item-divider color="laranja">Concluídos</ion-item-divider>
      <ion-grid *ngIf="mostrarMsgConcluidos == false">
        <ion-row *ngFor="let item of contatosDefinidos">
          <ion-col col-1 *ngIf="item.contact.presenca.match('Só Ida')">
            <ion-icon class="ida" small name="return-right"></ion-icon>
          </ion-col>
          <ion-col col-1 *ngIf="item.contact.presenca.match('Só Volta')">
            <ion-icon class="volta" small name="return-left"></ion-icon>
          </ion-col>
          <ion-col col-1 *ngIf="item.contact.presenca.match('Ida e Volta')">
            <ion-icon class="idaVolta" name="swap"></ion-icon>
          </ion-col>

          <ion-col col-11>

            <ion-item ng-model="model" (click)="mostrarPresenca(item)">
              <ion-label>{{item.contact.name}}</ion-label>

              <ion-toggle color="laranja" class="botao" *ngIf="item.contact.embarque == true" value="item.contact.embarque" checked="true"
                (ionChange)="save(item, item.contact)"></ion-toggle>
              <ion-toggle class="botao" *ngIf="item.contact.embarque != true" value="item.contact.embarque" checked="false" (ionChange)="save(item, item.contact)"></ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>
        <br>
        <br>
        <br>
      </ion-grid>
      <ion-card *ngIf="mostrarMsgConcluidos == true">
        <ion-card-content align="center">
          <h2>Nenhum aluno concluído!</h2>
        </ion-card-content>
      </ion-card>
    </ion-item-group>

  </ion-list>
 <ion-item-group *ngIf="mostrarMsgAlunos == true">
    <br><br><br>
  <ion-card>
    
    <ion-card-content align="center">
      <h2><strong>Nenhum aluno encontrado!</strong></h2>
      <br>
      <p>Verifique se um grupo está selecionado e que este contém alunos cadastrados com presença para hoje.</p>
    </ion-card-content>
  </ion-card>
</ion-item-group>

</ion-content>