<ion-header>
  <ion-navbar color="uceff">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col class="titulo">Entradas</ion-col>
          <ion-col>
            <img align="right" class="title-image" src="src=../../assets/imgs/logo.png" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="ativo==true">
    <ion-card-content align="center">
      <h2>
        <strong>Dica</strong>
      </h2>
      Lista de alunos que têm presença para hoje - {{dia}}
      <br>
      <br> Clique no aluno para ver sua presença atual!
    </ion-card-content>
  </ion-card>


  <ion-list>
    <ion-item>
      <ion-label>Escolha a turma de alunos</ion-label>
      <ion-select [(ngModel)]="turmaSelecionada" (ionChange)="mudarTurma()">
        <ion-option value="{{item.turma.nomeTurma}}" *ngFor="let item of listaTurmas">{{item.turma.nomeTurma}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-searchbar placeholder="Pesquisar Aluno" showCancelButton color="danger" (ionInput)="filterItems($event)"></ion-searchbar>

  <ion-list>
    <ion-item-group>
      <ion-item-divider color="laranja">Pendentes</ion-item-divider>

      <ion-item *ngFor="let item of contatosIndefinidos" ng-model="model" (click)="mostrarPresenca(item)">
        <ion-label>{{item.contact.name}}</ion-label>
        <ion-toggle color="laranja" class="botao" *ngIf="item.contact.embarque == true" value="item.contact.embarque" checked="true"
          (ionChange)="save(item, item.contact)"></ion-toggle>
        <ion-toggle class="botao" *ngIf="item.contact.embarque != true" value="item.contact.embarque" checked="false" (ionChange)="save(item, item.contact)"></ion-toggle>

      </ion-item>
    </ion-item-group>
    <br>
    <br>
  </ion-list>

  <ion-list>
    <ion-item-group>
      <ion-item-divider color="uceff">Concluídos</ion-item-divider>


      <ion-item *ngFor="let item of contatosDefinidos" ng-model="model" (click)="mostrarPresenca(item)">
        <ion-label>{{item.contact.name}}</ion-label>

        <ion-toggle color="laranja" class="botao" *ngIf="item.contact.embarque == true" value="item.contact.embarque" checked="true"
          (ionChange)="save(item, item.contact)"></ion-toggle>
        <ion-toggle class="botao" *ngIf="item.contact.embarque != true" value="item.contact.embarque" checked="false" (ionChange)="save(item, item.contact)"></ion-toggle>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>