page-home {

    .title-image {
        vertical-align: middle;
        height: 20px;
        margin-top: 5px;
      }

      .botao{
          background-color: 	#FE8022;
      }
      .titulo{
          margin-top: 2px;
      }
      .titulo{
        margin-top: 2px;
    }
}

