// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-icon {
    font-size: 25px; //Preferred size here\
   
}
.title-image{
    margin-top: 5px;
}
.alert-md [aria-checked=true] .alert-checkbox-icon {
    border-color: #FE8022;
    background-color: #FE8022;
  }
  .alert-md .alert-radio-inner {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #FE8022;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    -webkit-transition: -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.alert-md [aria-checked=true] .alert-radio-icon {
    border-color: #FE8022;
  }
  .alert-md [aria-checked=true] .alert-radio-label {
    color: #FE8022;
  }
  .alert-md .alert-button {
    text-align: right;
    text-align: end;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    font-weight: 500;
    text-transform: uppercase;
    color: #FE8022;
    margin: 0 10px 0 0;
    padding: 10px;
  }
  .alert-md .alert-button::after {
    color: white;
  }
  .click-block {
    background-color: #FE8022
  }
  .item-radio-checked.item-md ion-label {
    color: #FE8022;
  }
  .radio-md .radio-inner {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #FE8022;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    -webkit-transition: -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .radio-md .radio-checked {
    border-color: #FE8022;
  }
  
  