page-edit-presenca {
    .title-image {
        vertical-align: middle;
        height: 20px;
        margin-top: 5px;
      }
      .title{
        color: white
    }
    .titulo{
        margin-top: 2px;
    }
    .conteudo{
        margin-top: 35%;
    }
    .botao{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        
    }
}

$alert-input-placeholder-color:(
  #FE8022
);

