page-edit-presenca {
    .title-image {
        vertical-align: middle;
        height: 20px;
        margin-top: 5px;
      }
      .title{
        color: white
    }
    .titulo{
        margin-top: 2px;
    }
    .conteudo{
        margin-top: 50%;
    }
}

$alert-input-placeholder-color:(
  #FE8022
);

