page-edit-presenca {
    .title-image {
        vertical-align: middle;
        height: 25px;
        margin-left: 30%
      }
      .title{
        color: white
    }
    .titulo{
        margin-top: 2px;
    }
}

$alert-input-placeholder-color:(
  #FE8022
);

