<ion-header>
  <ion-navbar color="uceff">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col class="titulo">Cadastro de Grupo</ion-col>
          <ion-col>
            <img align="right" class="title-image" src="src=../../assets/imgs/logo.png" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>


  <ion-card *ngIf="mostrarAlunos == true">
    <ion-card-content align="center">
      <p *ngIf="model.quantidadeAlunos > 1"> Há {{model.quantidadeAlunos}} alunos cadastrados neste grupo.</p>
      <p *ngIf="model.quantidadeAlunos == 1">Há {{model.quantidadeAlunos}} aluno cadastrado neste grupo.</p>
      <p *ngIf="model.quantidadeAlunos == 0">Nenhum aluno está cadastrado neste grupo.</p>
    </ion-card-content>
  </ion-card>

  <form [formGroup]="formularioTurma" #formulario="ngForm">
    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input type="text" name="nomeTurma" formControlName="nomeTurma" clearInput></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let validation of validation_messages.nomeTurma">
        <div class="error-message" *ngIf="formularioTurma.get('nomeTurma').hasError(validation.type) && (formularioTurma.get('nomeTurma').dirty || formularioTurma.get('nomeTurma').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

  </form>
  <br>
  <br>
  <button color="laranja" ion-button block (click)="save()">Salvar</button>

</ion-content>